body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #E083C3;
    color: #620043 ;  
}
nav{
    background-color:  #416200;
    color: white;
    display: flex;
    padding: 10px;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;    
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.container{
    display: flex;
}
    
aside{
    background-color: #989808;
    width: 25%;
    align-items: center;
    padding: 10px;
    display:flex;
    flex-direction: column;
}
main{
    background-color:  #589ef9;
    padding: 20px;
    width: 75%;
}
footer{
    background-color:  #ff6cc9;
    align-items: center;
    display: flex;
    padding: 20px;    
}

footer ul{
    display: flex;
    margin: 0px;
    list-style: none;
    color: white;
}
footer ul li {
    color: white;
    padding: 10px;
}
footer p{
    color: white;
}